{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'engineerlog/css/bootstrap.min.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}EngineerLog{% endblock %}</title>
</head>
<body>
  <div class="container">
    <p>
      <div class="text-center">
        <ruby><rb><h1>Eng.Log</h1></rb><rt>エンジニアログ</rt></ruby>
        <h6>〜エンジニアの勉強記録を共有するSNS〜</h6>
      </div>
    </p><hr>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--<script src="{% static 'engineerlog/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'engineerlog/js/bootstrap.bundle.min.js' %}"></script>-->
{% block extra_js %}
{% endblock %}
</body>
</html>