<head>
    <title>EngineerLog</title>
</head>
<body>
<h1>EngineerLog</h1>
<div><a href="{% url 'engineerlog:post_create' %}">投稿</a></div>
{% if user.is_authenticated %}
    <div><a href="profile/{{ user.username }}">@{{ user.username }}</a>から<a href="{% url 'engineerlog:logout' %}">ログアウト</a></div>
{% else %}
    <div><a href="{% url 'engineerlog:signup' %}">サインアップ</a>または<a href="{% url 'engineerlog:login' %}">ログイン</a></div>
{% endif %}
<hr>

{% for post in posted_list %}
    <ul>
        <a href="profile/{{ post.created_by.username }}"><img src="{{ post.created_by.icon.url }}" />{{ post.created_by.displayname }}</a>@{{ post.created_by.username }}
        <div>{{ post.duration }}</div>
        {{ post.comment }}
    </ul>
{% empty %}
    <p>投稿がありません</p>
{% endfor %}
</body>