<head>
    <title>EngineerLog</title>
</head>
<body>
<h1>EngineerLog</h1>
<hr>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.displayname }}. Thanks for logging in.</p>
{% else %}
    <div>Welcome, new user. Please <a href="{% url 'engineerlog:login' %}">login.</a></div>
{% endif %}

{% for post in posted_list %}
    <div>
        {{ post.created_user.displayname }}<br>
        <a href="user/{{post.created_user.username}}"><img src="{{ post.created_user.icon.url }}" /></a> {{ post.comment }}
    </div>
{% empty %}
    <p>No posts are available.</p>
{% endfor %}
</body>