<head>
    <title>EngineerLog</title>
</head>
<body>
<h1>EngineerLog</h1>
<hr>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.displayname }}. Thanks for logging in. <a href="{% url 'engineerlog:logout' %}">logout</a></p>
{% else %}
    <div>Welcome, new user. Please <a href="{% url 'engineerlog:login' %}">login.</a></div>
{% endif %}

{% for post in posted_list %}
    <div>
        <a href="profile/{{ post.created_user.username }}"><img src="{{ post.created_user.icon.url }}" />{{ post.created_user.displayname }}</a>@{{ post.created_user.username }}<br>
        {{ post.comment }}
    </div>
{% empty %}
    <p>No posts are available.</p>
{% endfor %}
</body>